body{
    background-color: #c0c2ad;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 25px;
    color: #10454F;
}
ul{
    background-color: white;
}
p{
    color: #10454F;
    font-size: 19px;
}
a{
    color: #10454F;
}